/* .container {
  padding: 0 15px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
}
.listItems {
  /* max-width: 100%; */
  list-style: none;
  display: flex;
  /* column-gap: -25px; */
  justify-content: space-evenly;
  margin-top: 20px;
  align-self: center;
  width: 100%;
}
.items {
  border: 2px rgb(224, 224, 224) solid;
  padding: 5px 10px;
  border-radius: 20px;
  color: rgb(224, 224, 224);
  align-self: center;
  font-size: 16px;
}
.phone a {
  color: rgb(231, 230, 230);
}
.phone {
  border: 2px rgb(231, 230, 230) solid;
  padding: 5px 20px;
  border-radius: 20px;
  align-self: center;
  font-size: 16px;
  color: rgb(231, 230, 230);
  box-shadow: 2px 5px 8px rgba(202, 201, 201, 0.2);
}
@media (max-width: 800px) {
  .listItems {
    max-width: 100%;
    align-self: center;
    /* display: grid; */
  }
  .items {
    border: 2px gray solid;
    padding: 10px 30px;
    border-radius: 20px;
    color: gray;
  }
  .phone {
    border: 2px rgb(231, 230, 230) solid;
    padding: 10px 30px;
    border-radius: 20px;
    color: rgb(231, 230, 230);
    box-shadow: 2px 5px 8px rgba(202, 201, 201, 0.2);
  }
}

@media (max-width: 540px) {
  .listItems {
    padding: 10px 0;
    max-width: 100%;
    /* flex-wrap: wrap; */
    display: grid;
    row-gap: 10px;
    margin: 0;
  }
  .items {
    border: 2px gray solid;
    padding: 10px 30px;
    border-radius: 20px;
    color: gray;
  }
  .phone {
    border: 2px rgb(231, 230, 230) solid;
    padding: 10px 30px;
    border-radius: 20px;
    color: rgb(231, 230, 230);
    box-shadow: 2px 5px 8px rgba(202, 201, 201, 0.2);
  }
}
