/* container */
.container {
  box-sizing: border-box;
  flex-direction: row;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 600px) {
  .container {
    margin-top: 4rem;
  }
}
/*  left coanteinr*/
.top_container {
  max-width: 80%;
}

.top_header {
  margin: 10;
  margin-bottom: 10px;
  line-height: 1;
  font-size: 4rem;
  font-family: Aeonik, Helvetica Neue, sans-serif;
  font-weight: 200;
  text-align: center;
  color: #fff;
  text-align: center;
  max-width: 1045px;
}
@media (max-width: 1200px) {
  .top_header {
    font-size: 4rem;
  }
}
@media (max-width: 900px) {
  .top_header {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  .top_header {
    font-size: 1.875rem;
  }
}
.top_header_span {
  padding-bottom: 1rem;
  background: linear-gradient(180deg, #fed0ab 20%, #b0ade9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}
@media (max-width: 600px) {
  .top_header {
    max-width: 295px;
  }
}
/*right  container  */

.bottom_container {
  width: 100%;
}
@media (max-width: 600px) {
  .bottom_container {
    margin-top: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .bottom_container::-webkit-scrollbar {
    display: none;
  }
}
/*  */
@media (max-width: 600px) {
  .bottom_container_wrapper {
    width: fit-content;
    display: flex;
  }
}
