@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.container {
  display: flex;
  flex-direction: row;
  z-index: 4;
  max-height: 485px;
  width: 88%;
  max-width: 1400px;
  margin: 5.125rem auto 0;
  display: flex;
  background: #000c25
    linear-gradient(
      180deg,
      #a5b8bb -22.35%,
      rgba(76, 146, 140, 0.801) 60%,
      rgba(254, 208, 171, 0) 100%
    );
  border-radius: 40px;
  position: sticky;
  bottom: 0px;
  z-index: 2;
  overflow: hidden;
  padding: 40px 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-grow: 1.5;
  text-align: center;
  padding: 0 10px;
}

.left_header {
  margin: 0;
  font-size: 4rem;
}
.left_p {
  margin: 0;
  font-size: 2rem;
  font-family: "Inter";
}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  flex-grow: 1;
  flex-basis: 60%;
  position: relative;
}
.right img {
  width: 100%;
  aspect-ratio: 1.1;
  object-fit: contain;
  height: auto;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 25px 0;
  }
  .left {
    flex-grow: 1.5;
    padding: 0 10px;
    flex-basis: 100%;
  }
  .left_header {
    margin: 0;
    font-size: 3rem;
  }
  .left_p {
    margin: 0;
    font-size: 1rem;
  }
  .right {
    flex-grow: 1;
    flex-basis: 50%;
  }
}
@media screen and (max-width: 750px) {
  .container {
    padding: 15px 0;
  }
  .left {
    flex-grow: 1;
    flex-basis: 80%;
    padding: 0 10px;
  }
  .left_header {
    margin: 0;
    font-size: 2rem;
  }
  .left_p {
    font-size: 1rem;
  }
  .right {
    flex-grow: 1;
    /* flex-basis: 50%; */
  }
}
@media screen and (max-width: 601px) {
  .container {
    height: 285px;
    width: 95vw;
    margin: 2rem 10px;
    padding: 0;
  }
  .left {
    padding: 0 10px;
  }
  .left_header {
    font-size: 1.5rem;
  }
  .left_p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 470px) {
  .container {
    flex-direction: column;
    padding: 50px 0;
    margin: 30px 30px;
  }
  .left_header {
    font-size: 1.8rem;
  }
  .left_p {
    font-size: 1rem;
  }
  .right img {
    display: none;
    width: 50%;
    object-fit: contain;
    height: auto;
  }
}
