@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Rest of your CSS code */
/* Rest of your CSS code */
.header {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 0 20px;
  margin-bottom: 30px;
}
.servicesContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 15px;
  column-gap: 50px;
}

@media (max-width: 700px) {
  .servicesContainer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
}
.card {
  border: 2px solid rgb(226, 220, 220);
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px 20px;
  text-align: center;
  box-shadow: 5px 5px 7px #292626;
}
.title {
  font-size: 18px;
  color: white;
  font-family: "Inter";
  letter-spacing: 0.08rem;
  font-weight: 400;
  text-transform: capitalize;
}
